@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: dimgray;
}

div {
  background-color: aqua;
  margin: 10px;
}

span  p{
  background-color: yellow;
  margin: 10px;
}

header{
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

nav{
  background-color: dimgray;
  color: red;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px/*Deslocamento Horizontal*/ 5px/*Deslocamento Vertical*/  5px/*Espalhamento*/  rgba(0, 0, 0, 0.671);
  /*É possível criar sua própria sombra pelo devTolls do navegador indo em sua tag por ele e clica nós 3 pontinhos e ir na opcção: add BoxShadow*/
  /*Mudar cor de sombra não é recomendado, o recomendado é continuar no black e alternar somente a transparência da cor */
  /*Caso queira sombra interna do elemento é só usar box-shadown inset 1px 1px 1px 1px black*/
}

nav ul a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

nav ul a:hover{
  color: purple;
}



header nav ul{
  list-style: none;
  padding: 0;
  margin: 30px;
}

header nav ul li{
  display: inline;
  margin: 50px;
}


main{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /*border-radius: é possivel usar o border para cada lado do bloco individualmente, usando a ordem em cima esquerda e direita e embaixo direita e esquerda */
  /*É possivel usar apenas 2 valores o primeiro alterando a borda de cima e baixo na esquerda e a segunda alterando a borda de cima e baixo da direita */
  /* É possivel usar porcentagem principalmente quando criamos circulos, utilizamos 50% de porcentagem.*/
}

article{
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
}

aside{
  background-color: dimgrey;
  padding: 10px;
  margin: 10px;
}

footer{
  background-color: black;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 10x;
  margin: 10 px;
  /* Para Colocar Bordas personalizadas: 
  border 12px solid transparent; Isso é importante para a borda aparecer
  border-image-source: url('caminho da imagem.png');
  border-image-slice: 30; fatiamento da borda
  border-image-repeat: repeat; repetição da imagem

  simplificando:
  border-image: url('caminho da imagem') 27 repeat;
  */
}

.section-1{
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
}

.section-2{
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
}

.section-3{
  background-color: lightcoral;
  padding: 10px;
  margin: 10px;
}

#bola{
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: purple;
  border-radius: 50%;
}