@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #589A8D, #8FC1B5);
}

p {
    text-align: justify;
}

main {
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #156b56d2;
    /* o primeiro parâmetro determina o quanto essa sombra anda pro lado, segundo parâmetro é quanto a sombra anda pra baixo, o terceiro parâmetro é quanto a sombra vai espalhar e o quarto quanto de transparência(feito pelo RGBA) a sombra vai ter*/
    padding: 10px;
    margin: auto;
}

h1 {
    color: #255f4d;
    text-align: center;
    text-shadow: 1px 1px 2px #1e5242;
}

h2 {
    color: #008876;
}